---
{
    "stream": {
        "$id": "sites-products",
        "destination": "pages",
      "fields": [
        "id",
        "uid",
        "name",
        "description",
        "photoGallery",
        "slug"
      ],
      "filter": {
        "entityTypes": [
          "products"
        ]
      }
    },
    "urlFormat": "{{slug}}"
}
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{name}}</title>
    {{>head}}
  </head>
    <body>
        

      {{!-- {{>navbar}} --}}

      {{!-- <nav class="breadcrumb-container bg-gray-50">
        <ol class="list-reset py-4 pl-4 rounded flex  text-grey">
          <li class="px-2 hover:underline hover:font-semibold"><a href="/" class="no-underline text-indigo">Home</a></li>
          <li>/</li>
          {{#each c_parents}}{{#each c_parents}}
            <li class="px-2 hover:underline hover:font-semibold"><a href="/{{this.slug}}" class="no-underline text-indigo">{{this.id}}</a></li>
          {{/each}}{{/each}}
          <li>/</li>
          <li class="px-2 hover:underline hover:font-semibold"><a href="/{{c_parents.[0].slug}}" class="no-underline text-indigo">{{c_parents.[0].name}}</a></li>
          <li>/</li>
          <li class="px-2">{{name}} - {{geomodifier}}</li>
        </ol>
      </nav> --}}
      
        <div class='title pt-6 pb-6 border-b-8 border-green-400'> 
          <h1 class='text-5xl  font-extralight text-white ml-6'> {{name}} </h1>
        </div>
        <div class="container mx-auto px-32">
          <div class='mt-6  flex'> 
            <div class='branch-details pr-32'>
              <h4 class='text-2xl font-bold mb-4'>PRODUCT</h4>
              <div> 
                <p> HELLO  </p>
              </div>
            </div>
          </div>
        </div>

    </body> 

    {{>footer}}

</html>